.header {
  background-color: #27272a;
  width: 100vw;
  border-bottom: 1px solid #414144;
  padding: 0 8px;
  &-content {
    display: flex;
    gap: 20px;
    .item {
      padding: 13px 0px;
      cursor: pointer;
    }
    .header__title {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      padding: 13px 0;
      color: #ffffff;
      &_active {
        border-bottom: 2px solid white;

        font-size: 14px;
        line-height: 16px;
        color: #ffffff;
      }
    }
  }
}
